<section>

    <ul>
        <li>
            <input type="checkbox">
            <input type="text">

            <button>
                <i class='bx bxs-trash bx-tada-hover'></i>
            </button>
        </li>
        <li>
            <input type="checkbox">
            <input type="text" class="checked">

            <button>
                <i class='bx bxs-trash bx-tada-hover'></i>
            </button>
        </li>
    </ul>

</section>

<!-- Componentes encaixados aqui pois eles fazem parte da lista central -->
<app-todo-input-add-items></app-todo-input-add-items>
<app-todo-button-delete-all></app-todo-button-delete-all>